<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.shellteo.mapper.BActivityMapper" >
  <resultMap id="BaseResultMap" type="top.shellteo.pojo.BActivity" >
    <id column="ActivityId" property="activityid" jdbcType="VARCHAR" />
    <result column="ActivityName" property="activityname" jdbcType="VARCHAR" />
    <result column="ActivityPlace" property="activityplace" jdbcType="VARCHAR" />
    <result column="UploadPictures" property="uploadpictures" jdbcType="VARCHAR" />
    <result column="StartTime" property="starttime" jdbcType="VARCHAR" />
    <result column="EndTime" property="endtime" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Creator" property="creator" jdbcType="VARCHAR" />
    <result column="Fabulous" property="fabulous" jdbcType="VARCHAR" />
    <result column="BrowseCount" property="browsecount" jdbcType="VARCHAR" />
    <result column="IsFree" property="isfree" jdbcType="VARCHAR" />
    <result column="IsPrivate" property="isprivate" jdbcType="VARCHAR" />
    <result column="ActivityTag" property="activitytag" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.shellteo.pojo.BActivity" extends="BaseResultMap" >
    <result column="Detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ActivityId, ActivityName, ActivityPlace, UploadPictures, StartTime, EndTime, Phone, 
    Creator, Fabulous, BrowseCount, IsFree, IsPrivate, ActivityTag, Type, CreateTime, 
    UpdateTime
  </sql>
  <sql id="Blob_Column_List" >
    Detail
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="top.shellteo.pojo.BActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.shellteo.pojo.BActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_activity
    where ActivityId = #{activityid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b_activity
    where ActivityId = #{activityid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.shellteo.pojo.BActivityExample" >
    delete from b_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.shellteo.pojo.BActivity" >
    insert into b_activity (ActivityId, ActivityName, ActivityPlace, 
      UploadPictures, StartTime, EndTime, 
      Phone, Creator, Fabulous, 
      BrowseCount, IsFree, IsPrivate, 
      ActivityTag, Type, CreateTime, 
      UpdateTime, Detail)
    values (#{activityid,jdbcType=VARCHAR}, #{activityname,jdbcType=VARCHAR}, #{activityplace,jdbcType=VARCHAR}, 
      #{uploadpictures,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{fabulous,jdbcType=VARCHAR}, 
      #{browsecount,jdbcType=VARCHAR}, #{isfree,jdbcType=VARCHAR}, #{isprivate,jdbcType=VARCHAR}, 
      #{activitytag,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.shellteo.pojo.BActivity" >
    insert into b_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityid != null" >
        ActivityId,
      </if>
      <if test="activityname != null" >
        ActivityName,
      </if>
      <if test="activityplace != null" >
        ActivityPlace,
      </if>
      <if test="uploadpictures != null" >
        UploadPictures,
      </if>
      <if test="starttime != null" >
        StartTime,
      </if>
      <if test="endtime != null" >
        EndTime,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="creator != null" >
        Creator,
      </if>
      <if test="fabulous != null" >
        Fabulous,
      </if>
      <if test="browsecount != null" >
        BrowseCount,
      </if>
      <if test="isfree != null" >
        IsFree,
      </if>
      <if test="isprivate != null" >
        IsPrivate,
      </if>
      <if test="activitytag != null" >
        ActivityTag,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="detail != null" >
        Detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityid != null" >
        #{activityid,jdbcType=VARCHAR},
      </if>
      <if test="activityname != null" >
        #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="activityplace != null" >
        #{activityplace,jdbcType=VARCHAR},
      </if>
      <if test="uploadpictures != null" >
        #{uploadpictures,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="fabulous != null" >
        #{fabulous,jdbcType=VARCHAR},
      </if>
      <if test="browsecount != null" >
        #{browsecount,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        #{isfree,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null" >
        #{isprivate,jdbcType=VARCHAR},
      </if>
      <if test="activitytag != null" >
        #{activitytag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.shellteo.pojo.BActivityExample" resultType="java.lang.Integer" >
    select count(*) from b_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_activity
    <set >
      <if test="record.activityid != null" >
        ActivityId = #{record.activityid,jdbcType=VARCHAR},
      </if>
      <if test="record.activityname != null" >
        ActivityName = #{record.activityname,jdbcType=VARCHAR},
      </if>
      <if test="record.activityplace != null" >
        ActivityPlace = #{record.activityplace,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadpictures != null" >
        UploadPictures = #{record.uploadpictures,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        StartTime = #{record.starttime,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        EndTime = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        Phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        Creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.fabulous != null" >
        Fabulous = #{record.fabulous,jdbcType=VARCHAR},
      </if>
      <if test="record.browsecount != null" >
        BrowseCount = #{record.browsecount,jdbcType=VARCHAR},
      </if>
      <if test="record.isfree != null" >
        IsFree = #{record.isfree,jdbcType=VARCHAR},
      </if>
      <if test="record.isprivate != null" >
        IsPrivate = #{record.isprivate,jdbcType=VARCHAR},
      </if>
      <if test="record.activitytag != null" >
        ActivityTag = #{record.activitytag,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.detail != null" >
        Detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update b_activity
    set ActivityId = #{record.activityid,jdbcType=VARCHAR},
      ActivityName = #{record.activityname,jdbcType=VARCHAR},
      ActivityPlace = #{record.activityplace,jdbcType=VARCHAR},
      UploadPictures = #{record.uploadpictures,jdbcType=VARCHAR},
      StartTime = #{record.starttime,jdbcType=VARCHAR},
      EndTime = #{record.endtime,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Creator = #{record.creator,jdbcType=VARCHAR},
      Fabulous = #{record.fabulous,jdbcType=VARCHAR},
      BrowseCount = #{record.browsecount,jdbcType=VARCHAR},
      IsFree = #{record.isfree,jdbcType=VARCHAR},
      IsPrivate = #{record.isprivate,jdbcType=VARCHAR},
      ActivityTag = #{record.activitytag,jdbcType=VARCHAR},
      Type = #{record.type,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      Detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_activity
    set ActivityId = #{record.activityid,jdbcType=VARCHAR},
      ActivityName = #{record.activityname,jdbcType=VARCHAR},
      ActivityPlace = #{record.activityplace,jdbcType=VARCHAR},
      UploadPictures = #{record.uploadpictures,jdbcType=VARCHAR},
      StartTime = #{record.starttime,jdbcType=VARCHAR},
      EndTime = #{record.endtime,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Creator = #{record.creator,jdbcType=VARCHAR},
      Fabulous = #{record.fabulous,jdbcType=VARCHAR},
      BrowseCount = #{record.browsecount,jdbcType=VARCHAR},
      IsFree = #{record.isfree,jdbcType=VARCHAR},
      IsPrivate = #{record.isprivate,jdbcType=VARCHAR},
      ActivityTag = #{record.activitytag,jdbcType=VARCHAR},
      Type = #{record.type,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.shellteo.pojo.BActivity" >
    update b_activity
    <set >
      <if test="activityname != null" >
        ActivityName = #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="activityplace != null" >
        ActivityPlace = #{activityplace,jdbcType=VARCHAR},
      </if>
      <if test="uploadpictures != null" >
        UploadPictures = #{uploadpictures,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        StartTime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        EndTime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        Creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="fabulous != null" >
        Fabulous = #{fabulous,jdbcType=VARCHAR},
      </if>
      <if test="browsecount != null" >
        BrowseCount = #{browsecount,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        IsFree = #{isfree,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null" >
        IsPrivate = #{isprivate,jdbcType=VARCHAR},
      </if>
      <if test="activitytag != null" >
        ActivityTag = #{activitytag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        Detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ActivityId = #{activityid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.shellteo.pojo.BActivity" >
    update b_activity
    set ActivityName = #{activityname,jdbcType=VARCHAR},
      ActivityPlace = #{activityplace,jdbcType=VARCHAR},
      UploadPictures = #{uploadpictures,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=VARCHAR},
      EndTime = #{endtime,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Creator = #{creator,jdbcType=VARCHAR},
      Fabulous = #{fabulous,jdbcType=VARCHAR},
      BrowseCount = #{browsecount,jdbcType=VARCHAR},
      IsFree = #{isfree,jdbcType=VARCHAR},
      IsPrivate = #{isprivate,jdbcType=VARCHAR},
      ActivityTag = #{activitytag,jdbcType=VARCHAR},
      Type = #{type,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      Detail = #{detail,jdbcType=LONGVARCHAR}
    where ActivityId = #{activityid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.shellteo.pojo.BActivity" >
    update b_activity
    set ActivityName = #{activityname,jdbcType=VARCHAR},
      ActivityPlace = #{activityplace,jdbcType=VARCHAR},
      UploadPictures = #{uploadpictures,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=VARCHAR},
      EndTime = #{endtime,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Creator = #{creator,jdbcType=VARCHAR},
      Fabulous = #{fabulous,jdbcType=VARCHAR},
      BrowseCount = #{browsecount,jdbcType=VARCHAR},
      IsFree = #{isfree,jdbcType=VARCHAR},
      IsPrivate = #{isprivate,jdbcType=VARCHAR},
      ActivityTag = #{activitytag,jdbcType=VARCHAR},
      Type = #{type,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where ActivityId = #{activityid,jdbcType=VARCHAR}
  </update>
  <select id="selectActivitiesByLimit" parameterType="java.lang.Integer" resultType="top.shellteo.entity.BActivityPage">
    SELECT UploadPictures,ActivityId,ActivityName,StartTime,EndTime,ActivityPlace,IsFree
    FROM b_activity
    ORDER BY BrowseCount DESC
    limit #{m},#{n}
  </select>
  <select id="selectActivitiesSearch" resultType="top.shellteo.entity.BActivityPage">
    SELECT * FROM b_activity
    WHERE ActivityName LIKE CONCAT(CONCAT('%', #{0}), '%')
    ORDER BY BrowseCount DESC
    limit #{1},#{2}
  </select>
</mapper>